body{
    background-color: #3D6EFF;
}
.form-label{
    font-weight: bold;
}
.btn-submit{
    margin-right: 3rem;
    background-color:#E0AB1F;
    border: #E0AB1F;
}
.add-card{
    margin:5rem 2rem 5rem 2rem;
    border-radius: 1rem;
    padding: 2rem;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}
    
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
        
}
    
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
        
}